@charset "UTF-8";

/* ã§í ïîï™
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "ü‡ÉSÉVÉbÉN Medium", YuGothic, "ü‡ÉSÉVÉbÉNëÃ", "ÉqÉâÉMÉmäpÉS Pro W3", sans-serif;
    line-height: 1.7;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* ëÂÇ´Ç»îwåiâÊëú */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* å©èoÇµ */
.page-title {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}

/* É{É^Éì */
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: #0090aa;
}
.searchform input {
    background: transparent url(../images/search.png) no-repeat top right;
    background-color: RGBA(127,127,127,0.7)
    width: 180px;
    padding: 4px 10px 6px;
    height: 21px;
    border: 0;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 14px;
    color: #f0f0f0;
    float: right;
}

/* HEADER
------------------------------- */
.page-header{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.logo {
    width: 256px;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.icon {
    width: 80px;
    margin-top: 14px;
}

/* ÉtÉbÉ^Å[
------------------------------- */
footer {
    background: #432;
    text-align: center;
    padding: 6px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* HOME
------------------------------- */
#home {
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
}
#home .page-title {
    text-transform: none;
}
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

/* Natural
------------------------------- */
#natural {
    background-image: url(../images/main-bg.jpg);
    height: 270px;
    margin-top: 0px;
}
#natural .logo {
    width: 128px;
    margin-top: 0px;
}
.main-nav li {
    margin-left: 36px;
}
#natural .page-title {
    text-aligin: center;
}
#natural .search {
    max-width: 700px;
    margin: 200 auto;
    padding: 0 4%;
}

/* ÉÇÉoÉCÉãî≈
------------------------------- */
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    .icon {
        margin-left: -40px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }
}